{% extends 'base.html.twig' %}

{% block body %}
    {% include "navbar.html.twig" %}

    <h4>Edit Notice</h4>

    {{ form_start(form) }}
    {% if is_granted("ROLE_ADMIN") %}
    {{ form_label(form.expiration, 'Expiration date') }}
    {{ form_widget(form.expiration, { }) }}
    {% endif %}
    {{ form_row(form.title, {'label': 'Title'}) }}
    {{ form_row(form.description, {'label': 'Content'}) }}
    {{ form_row(form.image, {'label': 'Insert picture'}) }}
    {{ form_row(form.category, {'label': 'Category'}) }}
    <input type="submit" value="Edit" />
    {{ form_end(form) }}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
{% endblock %}
