{% extends 'base.html.twig' %}

{% block body %}
    {% include "navbar.html.twig" %}

    <h4>Add Your Notice</h4>

    {{ form_start(form) }}
    {{ form_row(form.title, {'label': 'Title'}) }}
    {{ form_row(form.description, {'label': 'Content'}) }}
    {{ form_row(form.image, {'label': 'Insert picture'}) }}
    {{ form_row(form.category, {'label': 'Category'}) }}
    <input type="submit" value="Add" />
    {{ form_end(form) }}
{% endblock %}
